<div>
  <h2>Product Catalog Command Line Generator (Beta)</h2>
  <div class="nui-sheet">
    <app-catalog-items itemType="products"></app-catalog-items>
    <app-catalog-items itemType="components"></app-catalog-items>
    <app-commandline></app-commandline>
  </div>
  <div>
    <h3>Beta</h3>
    <ul>
      <li>Work in progress</li>
      <li>Contact person: @roman.gluszny For development, bugs, ideas or feedback</li>
      <li>Contact person: @ladislav.varga For deployment, Product Catalog integration</li>
    </ul>
    <h3>Guide</h3>
    <ul>
      <li>Click ADD to add new product/component</li>
      <li>Set product/component parameters</li>
      <li>Set additional parameters/select catalog stage</li>
      <li>Click COPY</li>
      <li>You your installer with parameters</li>
    </ul>
  </div>
  <h3>Working features</h3>
  <ul>
    <li>Adding/removing/updating products and components (names and build numbers dynamically loaded from PC API</li>
    <li>Update only parameter for each item</li>
    <li>Additional commandline parameters</li>
    <li>Edit commandline</li>
    <li>Copying to clipboard</li>
  </ul>
  <h3>Work to be done</h3>
  <ul>
    <li>Styles</li>
    <li>Stretch: add templates/loading template from file</li>
    <li>Stretch: installer build selector</li>
    <li>Stretch: downloading and running installer (not possible on client side to to security)</li>
  </ul>
</div>

